
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Simple Wrapper</title>
  <style>
    /* Estilos CSS aquí */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #1ec3ce;
      background-image: url("src\public\dist\img\avatar.png");
      background-size: cover;
      background-position: center;
    }
    
    #wrapper {
      max-width: 800px;
      margin: 50px auto;
      background-color: white;
      padding: 20px;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    
    h1 {
      font-size: 24px;
      color: #333;
      margin-bottom: 20px;
    }
    
    p {
      font-size: 16px;
      color: #000000;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <div id="wrapper">
    <h1>BIENVENIDO A ECOSISTEMA</h1>
    <p>
    La plataforma para sensar árboles en el campus de la Universidad de Sucre. Explora, descubre y conecta con nuestra exuberante vegetación. ¡Únete a nuestra comunidad verde hoy mismo!
    </p>
  </div>
</body>
</html>
